*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
:root{
    --colorWhite: #fff;
    --colorButton: rgb(34, 9, 48);
    --fontText: 'Nunito', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--fontText);
    & .container-1{
        background-image: url('./images/bg-main-desktop.png');
        width: 35vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        & .container-1-cardOne{
            position: absolute;
            top: 30%;
            left: 30%;
            transform: translate(-50%, -50%);
            background-image: url('./images/bg-card-front.png');
            color: var(--colorWhite);
            max-width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-size: 100% 100%;
            width: 30vw;
            height: 29vh;
            z-index: 1;
            & img{
                width: 20%;
                margin-top: 5%;
                margin-left: 10%;
            }
            & .numDates{
                margin-top: 8%;
                margin-left: 10%;
                font-size: 1.5rem;
                height: 35px;
            }
            & .dateCards{
                display: flex;
                justify-content: space-between;
                width: 100%;
                & .nameDate{
                    width: 70%;
                }
                & .dateDaysUser{
                    width: 30%;
                }
            }
            & .dateCards{
                margin-top: 5%;
                margin-left: 10%;
                font-size: 1rem;
            }
        }
        & .container-1-cardTwo{
            position: absolute;
            top: 65%;
            left: 35%;
            transform: translate(-50%, -50%);
            background-image: url('./images/bg-card-back.png');
            color: var(--colorWhite);
            background-repeat: no-repeat;
            background-size: cover;
            background-size: 100% 100%;
            width: 30vw;
            height: 29vh;
            z-index: 1;
            & .dateCvc{
                margin-top: 21%;
                margin-left: 80%;         
            }
        }
    }
    & .container-2{
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 65vw;
        height: 100vh;
        & .section{
            & .form{
                width: 50vw;
                height: 60vh;
                border-radius: 10px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                background-color: var(--colorWhite); 
                padding: 20px;
                & article{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

.date-User{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    & .date-User-date{
        width: 48%;
        & .date-User-date-div input{
            width: 4vw;
            box-sizing: border-box;
            display: inline-block;
        }
    }
    & .date-User-cvc{
        width: 48%;  
    }
}
.form article * {
    display: block;
}
.Dom{
    width: 100%;
    height: 40px;
    border: 1px solid #818181;
    margin-bottom: 20px;
    font-size: 1.2rem;
    padding: 0 10px;
    border-radius: 10px;
    z-index: 10;
}
.Dom:focus {
    outline: none;
}
button{
    width: 100%;
    height: 40px;
    border: none;
    margin-bottom: 20px;
    font-size: 1.2rem;
    padding: 0 10px;
    border-radius: 10px;
    z-index: 10;
    background-color: #818181;
    background-color: var(--colorButton);
    color: var(--colorWhite);
    cursor: pointer;
}
.textAlert{
    height: 3vh;
    line-height: 3vh;
    color: #e78282;
}
.messageThank{
    display: none;
    text-align: center;
    & .titleThank{
        font-size: 2rem;
        margin-bottom: 20px;
        color: var(--colorButton);
    }
    & .textSendDate{
        font-size: 1.2rem;
        margin-bottom: 20px;
        color: #818181;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 600px) {
    & .container{
        display: flex;
        flex-direction: column;
        & .container-1{
            width: 100vw;
            & .container-1-cardOne{
                width: 70vw;
                margin-left: 13%;
                z-index: 2;
            }
            & .container-1-cardTwo{
                width: 70vw;
                margin-left: 13%;
                top: 17%;
                left: 47%;    
            }
        }
    }
    & .form{
        margin-top: 10%;
    }
}